<h1>Hello World!</h1>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit perferendis
  voluptatem, voluptas consectetur similique, ex doloribus quos laudantium
  repellat dignissimos, doloremque ducimus corporis nisi dolore expedita quae.
  Deserunt, corrupti deleniti?
</p>

<div [ngSwitch]="loginType">
  <div *ngSwitchCase="'User'">
    <p>User Login Welcome here</p>
  </div>
  <div *ngSwitchCase="'Admin'">
    <p>Admin Login Welcome here</p>
    <app-rooms></app-rooms>
  </div>
  <div *ngSwitchDefault>
    <p>Invalid Login Type</p>
  </div>
</div>
